/* background color of card body #f4f4f4 */

.cards-container{
    max-height:fit-content;
    min-height:100vh;
    padding:50px;
    background: #c9c8c8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:40px;
}

.card{
    text-align: center;
    background-color: white;
    width: 260px;
    border-radius: 20px;
    font-family: Arial, sans-serif;
}

.card-header{
    padding: 2rem 1rem;
    height: 150px;
}

.card h4{
    margin-bottom: 5px;
}

.card-price{
    font-size: 0.9rem;
    color: #b3b2b2;
}

.card-body{
    height: 250px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card-location{
    font-size: 0.8rem;
    color:#7b7b7b;
    margin-top: 10px;
}

.card-description{
    font-size: 0.75rem;
    margin: 10px 20px;
    color: #7b7b7b;
}

.btns{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 15px;
}

.btn-outline{
    border:3px solid rgb(6, 165, 227);
    height:35px;
    width:150px;
    border-radius: 10px;
    color: rgb(47,175,226);
    font-weight: 600;
}

.btn-filled{
    background-color: rgb(6, 165, 227);
    height:35px;
    width:150px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: none;
}
.card img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.card-status{
    font-size: 0.75rem;
    margin: 4px 20px;
    color: #aaa9a9;
}
